@font-face {
  font-family: "Poster Army";
  src: url("./font/PosterArmy.otf");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --light-blue: rgb(140, 195, 221);
  --light-blue-emphasis: rgb(175, 226, 247);

  --header-height: 5rem;
  --footer-height: 2rem;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
  --board-size: min(80vw, calc((var(--main-height) * 0.5) - 3rem));

  --default-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

  font-family: var(--default-font, sans-serif);
  color: #d1e7dd;
  background-color: #214070;
  height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.hidden {
  display: none !important;
}

/* Header */

header {
  height: var(--header-height);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header h1 {
  --title-height: calc(var(--header-height) - 20px);

  font-family: "Poster Army", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 10px;
  font-size: min(5vw, var(--title-height));
  line-height: var(--title-height);
  font-weight: normal;
  text-transform: uppercase;
}

header #message {
  margin: 8px;
  padding: 5px 10px;
  width: 36rem;
  font-family: 'Courier New', Courier, monospace;
  color: #181a1d;
  background-color: var(--light-blue, lightblue);
}

/* Main */

main {
  flex: 1;
  max-height: var(--main-height);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main section {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

main section .board {
  width: var(--board-size);
}

/* Player Ships section */

section#player {
  padding: 10px;
}

section#player #placement-action-bar {
  padding: 0.5rem;
}

#placement-action-bar button {
  font-family: var(--default-font, sans-serif);
  font-size: 1rem;
  font-weight: bold;

  margin: 3px;
  padding: 3px 7px;

  background-color: var(--light-blue, lightblue);
  border: 2px solid var(--light-blue-emphasis);
  border-radius: 7px;

  cursor: pointer;
}

#placement-action-bar button:hover {
  background-color: var(--light-blue-emphasis);
}

section#player .board {
  --grid-border-color: #193258;
  background-color: #124d9b;
  border: 3px solid var(--grid-border-color);
  margin: auto;
  display: grid;
  /* Grid columns and rows are defined dynamically. */
}

section#player .board .cell {
  border: 1px solid var(--grid-border-color);
  cursor: pointer;
}

section#player .board.locked .cell {
  cursor: default;
}

section#player .board .cell.ship {
  background-color: #97a899;
}

section#player .board .cell.hit {
  background: url("./img/ship-hit.svg"), #97a899;
}

section#player .board .cell.miss {
  background: url("./img/ship-miss.svg");
}

/* Attacks on Opponent section */

section#opponent {
  --grid-border-color: #8b8983;
  color: #323130;
  background: #eeedec;
  padding: 20px;
  padding-top: 15px;
}

section#opponent .board {
  border: 2px solid var(--grid-border-color, gray);
  margin: auto;

  display: grid;
  /* Grid columns and rows are defined dynamically. */
}

section#opponent .board.locked, section#opponent .board.locked .cell {
  cursor: wait !important;
}

section#opponent .board .cell {
  border: 1px solid var(--grid-border-color, gray);
  cursor: pointer;
}

section#opponent .board .cell.hit {
  background: url("./img/ship-hit.svg");
  cursor: default;
}

section#opponent .board .cell.miss {
  background: url("./img/ship-miss.svg");
  cursor: default;
}

/* Footer */

footer a {
  height: var(--footer-height);
  line-height: var(--footer-height);
  color: #ddeebb;
}

footer a:hover {
  color: #eeffcc;
}

/* Wide screen adjustments*/

@media (orientation: landscape) {
  main {
    --board-size: min(40vw, calc(var(--main-height) - 5rem));
    flex-direction: row-reverse;
  }

  section#opponent {
    padding-bottom: 35px;
  }
}