@font-face {
  font-family: "Poster Army";
  src: url("./font/PosterArmy.otf");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --header-height: 5rem;
  --footer-height: 2rem;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
  --default-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

  font-family: var(--default-font, sans-serif);
  color: #d1e7dd;
  background-color: #214070;
  height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

main {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

button {
  font-family: var(--default-font, sans-serif);
  font-size: 1rem;
}

.hidden {
  display: none !important;
}

/* Header */

header {
  height: var(--header-height);

  display: grid;
  grid-template-columns: 25% 50% 25%;
  gap: 10px;
}

header h1 {
  font-family: "Poster Army", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
  line-height: var(--header-height);
}

header #message {
  padding-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: #181a1d;
  background-color: rgb(150, 177, 212);
  border-radius: 11px;
}

/* Player Ships section */

section#player {
  padding: 10px;
}

section#player #placement-action-bar {
  padding: 0.5rem;
}

section#player .board {
  --grid-border-color: #193258;
  background-color: #124d9b;
  border: 3px solid var(--grid-border-color);
  max-height: calc(100vh - 14rem);
  margin: auto;
  display: grid;
  /* Grid columns and rows are defined dynamically. */
}

section#player .board .cell {
  border: 1px solid var(--grid-border-color);
}

section#player .board .cell.ship {
  background-color: #97a899;
}

section#player .board .cell.ship.hit {
  background-color: #f5a716;
}

section#player .board .cell.miss {
  background-color: #50b5c7;
}

/* Attacks on Opponent section */

section#opponent {
  --grid-border-color: #8b8983;
  color: #323130;
  background: #eeedec;
  padding: 10px 20px;
}

section#opponent .board {
  border: 2px solid var(--grid-border-color, gray);
  max-height: calc(100vh - 18rem);
  margin: auto;

  display: grid;
  /* Grid columns and rows are defined dynamically. */
}

section#opponent .board.locked, section#opponent .board.locked .cell {
  cursor: wait !important;
}

section#opponent .board .cell {
  border: 1px solid var(--grid-border-color, gray);
  cursor: pointer;
}

section#opponent .board .cell.hit {
  background-color: #c94a00;
  cursor: default;
}

section#opponent .board .cell.miss {
  background-color: #88acb4;
  cursor: default;
}

/* Footer */

footer a {
  height: var(--footer-height);
  line-height: var(--footer-height);
  color: #ddeebb;
}

footer a:hover {
  color: #eeffcc;
}

/* Wide screen adjustments*/

@media (min-width: 600px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  section#player {
    grid-row: 1;
    grid-column: 1;
  }

  section#opponent {
    grid-row: 1;
    grid-column: 2;
  }
}